.welcome-header {
  padding: 80px 0px 32px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
}
.welcome-header__logo {
  width: 160px;
  height: 160px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  height: calc(100vh - 272px);
  background-color: var(--yellow);
}

.login-form input {
  border: none;
  padding: 16px;
  font-size: 14px;
}

.login-form input:not([type="submit"]):first-child {
  border-bottom: 1px solid #dddddd;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form input:focus {
  border-color: var(--yellow);
}

.login-form input[type="submit"] {
  margin-top: 16px;
  background-color: var(--brown);
  cursor: pointer;
  padding: 16px;
  border-radius: 5px;
  color: white;
}

.login-form__find {
  margin-top: auto;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  font-size: 14px;
  color: #111111;
}
