.settings-list {
  margin-top: 16px;
  padding-top: 8px;
  border-top: var(--main-border);
}

.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.025);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:last-child {
  border-bottom: unset;
}

.settings__setting-column {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  font-size: 14px;
}

.settings__setting-column .material-symbols-outlined {
  font-size: 18px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
