.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
}

.alt-header__column {
  min-width: 56px;
}

.alt-header__column a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}
.alt-header__column span {
  font-size: 28px;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 500;
}

.alt-header__column:first-child {
}

.alt-header__column:nth-child(2) {
  flex: 1;
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
}
