.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.icon-row__icon span:first-child {
  font-size: 36px;
}

.icon-row__icon span:last-child {
  margin-top: 12px;
  font-size: 11px;
}
