.no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  font-size: 20px;
  font-weight: 600;
  top: 0;
}

.no-mobile span:first-child {
  font-size: 64px;
}

@media screen and (max-width: 640px) {
  .no-mobile {
    display: none;
  }
}
