.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 52px;
  height: 52px;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.user-component__title {
  font-weight: 500;
  font-size: 20px;
}

.user-component__subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 64px;
  height: 64px;
  border-radius: 26px;
}

.user-component__avatar--sm {
  width: 44px;
  height: 44px;
  border-radius: 18px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__column__more {
  display: flex;
  align-items: center;
}
